/*colores:
#99F684: verde pastel
#FA8C58:Anaranjado
*/
*{
	margin:0;
	padding:0;
}
body{
	font-family: 'Roboto', sans-serif;
}


/*HEADER*/
header{
	background-color: #FA8C58;
	width: 100%;
}
/*section panda 1*/
.panda-1{
	background-color:#FA8C58;
	width: 100%;
}
/*section about*/
.About{
	background-color:#99F684;
	width: 100%; 
}
h1{
	color: white;
	font-weight: 600;
	size:16px;
	line-height: 22px;
	text-align: right;
	margin-left: 10px;
	display: block;
}
p{
	color:white;
	text-align:right;
	margin-left: 10px;
	display: block;
}
/*section panda 2*/
.panda-2{
	background-color:#FA8C58;
	width: 100%; 
}

/*pictures panda*/
.picture-panda{
	background-color: #FA8C58;
	width: 100%;
}

/*panda-3*/
.panda-3{
	background-color: #FA8C58;
	width: 100%;
}

/*footer*/
footer{
	background-color: #FA8C58;
	width: 100%;
}
